<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.AlbumMapper">

<!--    <cache/>-->

    <!-- int insertBatch(List<Album> albumList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_album (
        name, description, sort
        ) VALUES
        <foreach collection="list" item="album" separator=",">
            (#{album.name}, #{album.description}, #{album.sort})
        </foreach>
    </insert>

    <!--    List<AlbumListItemVO> list();-->
    <select id="list" resultType="cn.tedu.csmall.product.pojo.vo.AlbumListItemVO">
        select id, name, description, sort
        from pms_album
        order by sort desc, id desc
    </select>

    <!--    AlbumStandardVO getStandardById(Long id);-->
    <select id="getStandardById" resultType="cn.tedu.csmall.product.pojo.vo.AlbumStandardVO">
        select id, name, description, sort
        from pms_album
        WHERE id = #{id}
    </select>
</mapper>
