<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.BrandCategoryMapper">

<!--    int countByBrand(Long brandId);-->
    <select id="countByBrand" resultType="int">
        select count(*)
        from pms_brand_category
        where brand_id = #{brandId}
    </select>

</mapper>