<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.SpuMapper">

    <!--    int countByBrandId(Long brandId);-->
    <select id="countByBrandId" resultType="int">
        select count(*)
        from pms_spu
        where brand_id = #{brandId}
    </select>
</mapper>